services: 
    mysql:
        image: mysql
        restart: always
        container_name: mysql_local
#        restart: always
        environment:
          MYSQL_ROOT_PASSWORD: 'password'
        ports:
          - '3306:3306'
        volumes:
            - /var/lib/mysql/
            - /docker-entrypoint-initdb.d
            - /etc/mysql/conf.d
    server:
        build: .
        ports:
            - "8080:8888"