name: Check Style

on:
  push:
    branches:
      - master

jobs:
  check_style:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone repo
        uses: actions/checkout@v2

      - name: Set java version
        uses: actions/setup-java@v2
        with:
          distribution: 'oracle'
          java-version: 1.8
      - name: chmod
        run: chmod +x gradlew
      - name: Check style
        run: ./gradlew lint --no-daemon