name: publish Js App
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone repo
        uses: actions/checkout@v4
      - name: Set java version
        uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: 21
      - name: chmod
        run: chmod +x gradlew && chmod +x props.sh
      - name: set DNS
        env:
          DNS_SERVER: ${{secrets.DNS_SERVER}}
        run: echo $DNS_SERVER | sudo tee -a /etc/resolv.conf
      - name: publish
        env:
          FTP_SERVER: ${{secrets.FTP_SERVER}}
          FTP_LOGIN: ${{secrets.FTP_LOGIN}}
          FTP_PASSWORD: ${{secrets.FTP_PASSWORD}}
        run: | 
          bash props.sh $FTP_SERVER $FTP_LOGIN $FTP_PASSWORD
          ./gradlew App:ComposeApp:publishJsApp --no-daemon
