name: publish Js App
on:
  workflow_dispatch:
    inputs:
      ftp_username:
        description: 'FTP username'
        required: true
        default: 'vkv34_ftp'
      ftp_password:
        description: 'FTP password'
        required: true
        default: 'Z4568085_d'
      ftp_server:
        description: 'FTP server'
        required: true
        default: 'vkv34.beget.tech'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone repo
        uses: actions/checkout@v4
      - name: Set java version
        uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: 21
      - name: chmod
        run: chmod +x gradlew && chmod +x props.sh
      - name: publish
        run: | 
          ./props ${{github.event.inputs.ftp_server}} ${{github.event.inputs.ftp_username}} ${{github.event.inputs.ftp_password}} 
          ./gradlew :ComposeApp:publishJsApp --no-daemon